<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://kit.fontawesome.com/1cf483120b.js" crossorigin="anonymous"></script>
    <title>Timeline</title>
</head>

<body>
    <div class="container">

        <div class="box">
            <div class="container-3">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Search..." />
            </div>
        </div>

        <div class="leftbox">
            <nav>
                <a id="dashboard"><i class="fas fa-tachometer-alt"></i></a>
                <a id="profile"> <i class="fas fa-user"></i> </a>
                <a id="settings"> <i class="fas fa-cog"></i> </a>
                <a id="messages"> <i class="fas fa-comments"></i> </a>
                <a id="notification"> <i class="fas fa-bell"></i> </a>
            </nav>
        </div>
        <div class="rightbox">
            <div class="rb-container">
                <ul class="rb">
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            22nd April 2023<br> 9:00 PM
                        </div>
                        <div class="item-title">Presentation rehearsal for upcoming conference.</div>

                    </li>
                   

                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            7th July 2023<br> 10:00 AM
                        </div>
                        <div class="item-title"> Client meeting to discuss project requirements.</div>

                    </li>
                    
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            15th November 2023<br> 6:00 PM
                        </div>
                        <div class="item-title"> Interview with potential new team member.</div>

                    </li>


                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            15th November 2023<br> 6:00 PM
                        </div>
                        <div class="item-title"> Interview with potential new team member.</div>

                    </li>

                </ul>

            </div>
        </div>
    </div>
</body>

</html>